<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ type }} | {{ name }}小破站</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/bootstrap-5.3.0/css/bootstrap.min.css') }}">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='plugins/fontawesome-free-6.2.1-web/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugins/font_3878771_1u1xusjlsd7/iconfont.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">{{ name }}的小破站</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" href="javascript:void(0);">回到首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" onclick="window.location.href='/friend'">友情链接</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0);" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/friend">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <div style="text-align: center;"><small>Copyright&copy; 2022-<span id="date"></span> Sgss All Rights
                Reserved.</small></div>
    </footer>
    <script>
        var d = new Date();
        var x = document.getElementById("date");
        x.innerHTML = d.getFullYear();
    </script>
    <script src="{{ url_for('static', filename='plugins/bootstrap-5.3.0/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/font_3878771_1u1xusjlsd7/iconfont.js') }}"></script>
    {% block script %}{% endblock %}
</body>

</html>